body{ background-color: #1b1e23; width: 100%;  display: flex;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;}
  
  #relogio{ z-index: ;
  background-color: #1b1e23;}
.digital{
  margin-top: 20px;
}
  #relogio::before{
    content: "";
    z-index: -1;
    position: absolute;
    
    filter: blur(10px);
    border-radius: 50%;
    width: calc(310px);
    height: calc(310px);
    background:linear-gradient(150deg, #95989c, #1b1e23 );
    background-size: 300%;}

@media (min-width:500px){
#relogio{ border: 4px dotted #4b9aaa; width: 300px; height: 300px; border-radius: 50%;} 

p{margin: 0; text-align: center;}

.riscos {
  width: 100%;
  height: 100%;
  padding-left: 50%;
  padding-top: 50%;
  margin-top: -3px;
}
.risco {
  width: 145px;
  background-color: transparent;
  height: 5px;
  position: absolute;
  transform-origin: left;
  display: flex;
  justify-content: flex-end;
}
.risco .ponto {
  width: 12px;
  height: 50%;
  background-color: #4b9aaa;
}
.ponteiros {
  width: 100%;
  height: 100%;
  padding-left: 50%;
  padding-top: 50%;
  margin-top: -150%;
  justify-content: center;
  align-items: center;
}
.p {
  transform-origin: left;
  transform: rotate(0deg);
  border-radius: 50%;
  position: absolute;
}

.p {
  transform-origin: left;
  transform: rotate(0deg);
  border-radius: 50%;
  position: absolute;
}

.p_s {
  width: 100px;
  height: 2px;
  border-radius: 0;
  background-color: #4b9aaa;
}
.p_m {
  width: 120px;
  height: 2px;
  background-color: #f4eed7;
  
  border-radius: 0;
}
.p_h {
  width: 70px;
  height: 2px;
  border-radius: 0;
  background-color: #f5f2e8;
  margin-top: -3px;
}
.encaixe {
  width: 15px;
  height: 15px;
  background-color: #4b9aaa;
  border-radius: 50%;
  position: absolute;
  margin-top: -5px;
  margin-left: -5px;}

  .digital{
    border: white 2px solid;
    padding: 10px;
    color: white;
  }
}





  
@media (min-width:200px) and (max-width:499px){
  #relogio{
    border: 4px dotted #4b9aaa;
    border-radius: 50%;
    width: 200px;
    height: 200px;}

    .riscos {
  width: 100%;
  height: 100%;
  padding-left: 50%;
  padding-top: 50%;
  margin-top: -3px;
}
p{margin: 0; text-align: center;}
.risco {
  width: 99px;
  background-color: transparent;
  height: 5px;
  position: absolute;
  transform-origin: left;
  display: flex;
  justify-content: flex-end;
}
.risco .ponto {
  width: 8px;
  height: 50%;
  background-color: #4b9aaa;
}
.ponteiros {
  width: 100%;
  height: 100%;
  padding-left: 50%;
  padding-top: 50%;
  margin-top: -149%;
  justify-content: center;
  align-items: center;
}
.p {
  transform-origin: left;
  transform: rotate(0deg);
  border-radius: 50%;
  position: absolute;
}

.p_s {
  width: 90px;
  height: 2px;
  border-radius: 0;
  background-color: #4b9aaa;
}
.p_m {
  width: 100px;
  height: 2px;
  background-color: #f4eed7;
  
  border-radius: 0;
}
.p_h {
  width: 50px;
  height: 2px;
  border-radius: 0;
  background-color: #f5f2e8;
  margin-top: -3px;
}
.encaixe {
  width: 15px;
  height: 15px;
  background-color: #4b9aaa;
  border-radius: 50%;
  position: absolute;
  margin-top: -5px;
  margin-left: -5px;}

  .digital{
    border: white 2px solid;
    padding: 5px;
    color: white;
  
  }
  #relogio::before{
    content: "";
    z-index: -1;
    position: absolute;
    
    filter: blur(10px);
    border-radius: 50%;
    width: calc(210px);
    height: calc(210px);
    background:linear-gradient(150deg, #95989c, #1b1e23 );
    background-size: 300%;}
}