body{ background-color: #1b1e23; width: 100%;  display: flex;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
 
}

.bodychangeday{
  animation: bodychange 5s ease-in-out forwards;
}

.Night{
  animation: night 3.5s ease-in forwards;
}
  #relogio{
  background-color: #1b1e23;
margin-top: 30px;}

.digital{
  margin-top: 45px;
}
#sol{
  position: absolute;
  width:310px; height: 310px;
  top: -350px;
  background-color: yellow;
  
  border-radius: 50%;
  
 
}

.sunAnimation{
  animation: down 3.5s forwards ease-in-out ;
  
  
}

#sol.sunAnimation::before{
  content: "";
  z-index: -1;
  width: 300px;
  height: 300px;
  animation: sunBright 3.5s forwards ease-in-out;
  position: absolute;
  border-radius: 50%;
}

@keyframes sunBright{
  0%{
    filter: blur(0px);
    border: rgb(255, 197, 89) 0px solid;
  }

  100%{
    filter: blur(23px);
    border: rgb(255, 197, 89) 20px solid;
  }
}

.ClockAnimation{
  animation: clockOutChange 3.2s forwards ease-in;
  animation: clockOut 3.5s forwards ease-in;
}

@keyframes bodychange{
  from, 5%, 95%, to {
    background-color:#1b1e23 ;
  }
  45%, 55% {
    background-color: #c0e7ee;
  }
  95%, 100%{
    background-color: rgb(207, 144, 27);
  }
}

@keyframes night{
  from, 5%,30%, 95%, to {
    background-color:#000000 ;
  }
  45%, 55% {
    background-color: #d8cece;
  }
 
}


@keyframes clockOutChange{
  from, 5%, 95%, to {
    background-color:#000000 ;
  }
  45%, 55% {
    background-color: #000000;
  }

  
}

@keyframes clockOut{
  0%{
    opacity: 100%;
    
  }
  100%{
    opacity: 0%;
  }
}

@keyframes down{
  0%{
    transform: translateY(-400px) ;
    box-shadow: #000000 0px 0px 0px;
  }

  100%{
    transform: translateY(600px);
    box-shadow: #000000c7 2px 3px 6px;
  }
}


    

@media (min-width:500px){
#relogio{ border: 4px dotted #4b9aaa; width: 300px; height: 300px; border-radius: 50%;} 

p{margin: 0; text-align: center;}

.riscos {
  width: 100%;
  height: 100%;
  padding-left: 50%;
  padding-top: 50%;
  margin-top: -3px;
}
.risco {
  width: 145px;
  background-color: transparent;
  height: 5px;
  position: absolute;
  transform-origin: left;
  display: flex;
  justify-content: flex-end;
}
.risco .ponto {
  width: 12px;
  height: 50%;
  background-color: #4b9aaa;
}
.ponteiros {
  width: 100%;
  height: 100%;
  padding-left: 50%;
  padding-top: 50%;
  margin-top: -150%;
  justify-content: center;
  align-items: center;
}
.p {
  transform-origin: left;
  transform: rotate(0deg);
  border-radius: 50%;
  position: absolute;
}

.p {
  transform-origin: left;
  transform: rotate(0deg);
  border-radius: 50%;
  position: absolute;
}

.p_s {
  width: 100px;
  height: 2px;
  border-radius: 0;
  background-color: #4b9aaa;
  box-shadow:1px -5px 3px #000000;
}
.p_m {
  width: 120px;
  height: 2px;
  background-color: #f4eed7;
  box-shadow:1px -5px 3px #000000;
  
  border-radius: 0;
}
.p_h {
  width: 70px;
  height: 2px;
  border-radius: 0;
  background-color: #f5f2e8;
  margin-top: 0px;
  box-shadow:1px -5px 3px #000000;
}
.encaixe {
  width: 18px;
  height: 18px;
  background-color: #4b9aaa;
  border-radius: 50%;
  position: absolute;
  margin-top: -6px;
  margin-left: -8px;}

  .digital{
    border: white 2px solid;
    padding: 10px;
    color: white;
    z-index: 1;
    
  }
}
  
@media (min-width:200px) and (max-width:499px){
  #relogio{
    border: 4px dotted #4b9aaa;
    border-radius: 50%;
    width: 200px;
    height: 200px;}
#sol{
  width: 250px;
  height: 250px;

}
#sol.sunAnimation::before{
  content: "";
  z-index: -1;
  width: 230px;
  height: 230px;
  animation: sunBright 3.5s forwards ease-in-out;
  position: absolute;
  border-radius: 50%;
}
    .riscos {
  width: 100%;
  height: 100%;
  padding-left: 50%;
  padding-top: 50%;
  margin-top: -3px;
}
p{margin: 0; text-align: center;}
.risco {
  width: 99px;
  background-color: transparent;
  height: 5px;
  position: absolute;
  transform-origin: left;
  display: flex;
  justify-content: flex-end;
}
.risco .ponto {
  width: 8px;
  height: 50%;
  background-color: #4b9aaa;
}
.ponteiros {
  width: 100%;
  height: 100%;
  padding-left: 50%;
  padding-top: 50%;
  margin-top: -149%;
  justify-content: center;
  align-items: center;
}
.p {
  transform-origin: left;
  transform: rotate(0deg);
  border-radius: 50%;
  position: absolute;
}

.p_s {
  width: 90px;
  height: 2px;
  border-radius: 0;
  background-color: #4b9aaa;
}
.p_m {
  width: 100px;
  height: 2px;
  background-color: #f4eed7;
  
  border-radius: 0;
}
.p_h {
  width: 50px;
  height: 2px;
  border-radius: 0;
  background-color: #f5f2e8;
  margin-top: -3px;
}
.encaixe {
  width: 15px;
  height: 15px;
  background-color: #4b9aaa;
  border-radius: 50%;
  position: absolute;
  margin-top: -5px;
  margin-left: -5px;}

  .digital{
    border: white 2px solid;
    padding: 5px;
    color: white;
  
  }
  #relogio::before{
    content: "";
    z-index: -1;
    position: absolute;
    
    filter: blur(10px);
    border-radius: 50%;
    width: calc(210px);
    height: calc(210px);
    background:linear-gradient(150deg, #95989c, #1b1e23 );
    background-size: 300%;}
